html, body, div, span, applet, object, iframe,
h1, p, img, strong, center, ul, li, form, caption, thead,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, section{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}