body{
   width :1480px;
   height: 1282px;
   margin: 0;
   }
.header-title{
   width:334px;
   height: 79px;
   margin: 63px 1048px 38px 98px;
   color: #4bcaff;
   font-size: 90px;
   line-height: 66px;
   font-family: sans-serif;
   cursor: pointer;
   }
span{
   color: #000000;
  }
.header-menu{
   display: flex;
   margin-right: 99px;
   margin-left: 98px;
   padding: 0;
   width: 1282px;
   height: 72px;
}
.bloc-menu {
   display: flex;
   width: 1282px;
   height: 72px;
   border: 1px solid #fafafa;
   justify-content: space-around;
   align-items: center;
   background-color: #35444F;
   letter-spacing: 1px;
   font-family: sans-serif;
   color: #fafafa;
}
.bloc-menu-btn{
   background-color: #222F3A;
   display: flex;
   width: 780px;
   height: 72px;
   border: 1px solid #fafafa;
   justify-content: space-around;
   align-items: center;
   letter-spacing: 1px;
   font-family: sans-serif;
   color:#fafafa;
}
.sidebar-aside{
   display: flex;
}
.left-menu-border{
   display: inline-block;
   border: 1px solid #495863;
   width: 344px;
   height: 399px;
   margin: 48px 0  0 98px;
   padding: 0;
}
.left-menu{
   display: flex;
   text-decoration: none;
   width: 342px;
   height: 81px;
   font-family: sans-serif;
   align-items: center;
   text-indent: 44px;
   color: #495863;
   font-size: 27px;
}
.left-menu-btn{
   display: flex;
   width: 344px;
   height: 81px;
   font-family: sans-serif;
   align-items: center;
   text-indent: 70px;
   color: #000000;
   background-color: #DBDBDB;
   font-size: 27px;
}
.image-bloc{
   display: flex;
   justify-content: center;
   width: 880px;
   height: 529px;
   border: 1px solid #000000;
   margin: 48px 99px 37px 52px;
}
img{
   width: 880px;
   height: 529px;
   background-position: center;
}
aside p{
   display: inline-block;
   width: 885px;
   height: 120px;
   margin: 0 99px 34px 496px;
   font-family: sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 24px;
}
.text p{
   display: block;
   margin: 80px;
   width: 885px;
   height: 529px;
   text-indent: 34px;
}
.footer-menu-copy{
   display: flex;
   justify-content: space-around;
   height: 69px;
   margin: 0 100px 0 100px;
   background-color:  rgba(99, 105, 110, 0.48);
   align-items: center;
   padding: 0;
}
.footer-menu{
   display: flex;
   justify-content: flex-start;
   font-size: 28px;
   font-family: sans-serif;
   color: #0C1927;
}
.footer-copy{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 210px;
   height: 69px;
   font-size: 24px;
   font-weight: 400;
   font-family: sans-serif;
}
.footer-menu-active{
   display: flex;
   font-size: 28px;
   font-weight: 400;
   font-family: sans-serif;
   color: #3181A6;
   text-decoration: underline #3181A6;
}
